* {
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: Work Sans;
  src: url(assets/fonts/WorkSans-VariableFont_wght.ttf);
}

html,
body {
  font-family: Work Sans;
  background-color: hsl(275, 100%, 97%);
  display: grid;
  grid-template-rows: 232px auto;
  grid-template-columns: 100%;
}

.cover {
  background-image: url(assets/images/background-pattern-mobile.svg);
  background-size: auto, cover;
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

.row {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -80px;
}

.container {
  width: 375px;
  background-color: hsl(0, 0%, 100%);
  margin: 0 25px;
  padding: 25px;

  border-radius: 10px;
}

header {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.star img {
  height: 26px;
}

header h1 {
  margin-left: 30px;
  font-size: 32px;
}

.accordion-header {
  background-color: transparent;
  border: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  cursor: pointer;
}

.accordion-header span {
  font-family: Work Sans;
  font-size: 20px;
  font-weight: 700;
  text-align: left;
  color: hsl(292, 42%, 14%);
}

.accordion-body {
  font-size: 16px;
  color: hsl(292, 16%, 49%);

  transition: opacity 0.5s ease-out;
  opacity: 0;
  height: 0;
  overflow: hidden;
}

p.accordion-body.active {
  margin-top: 20px;

  opacity: 1;
  height: auto;
}

.accordion-status {
  transition: content 1s linear;
}

.accordion:has(.active) .accordion-status {
  content: url(assets/images/icon-minus.svg);
}

hr {
  margin: 20px 0;
  border: 1px solid hsl(0, 0%, 97%);
}

footer {
  margin-top: 50px;
}
